<% layout("/layouts/boilerplate.ejs") %>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3><%= listing.title %></h3>
        </div>
        <div class="card col-6 offset-2 show-card">
            <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
            <div class="card-body">
                <p class="card-text">
                    <%= listing.description %>
                </p>
                <p class="card-text">
                    <b>Price:</b> &#8377; <%= listing.price.toLocaleString("en-IN") %>
                </p>
                <p class="card-text">
                    <b>Location:</b>
                    <%= listing.location %>
                </p>
                <p class="card-text">
                    <b>Country:</b>
                    <%= listing.country %>
                </p>
                <div class="d-flex justify-content-start">
                    <a href="/listings/<%= listing._id %>/edit" class="btn btn-danger show-btn mx-3">Edit Listing</a>
                    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-dark show-btn">Delete Listing</button>
                    </form>
                </div>
            </div>
        </div>
    </div>